html, body {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #333;
    /* background-color: black; */
    font-weight: 300;
    /* background: url('../app/assets/img/body-content-bg.jpg') 60% 0 repeat-y; */
    background: url('../app/assets/img/hearth-bg.jpg');
    position: relative;
    height: 100%;
}

#hearthpacks-wrapper {
    height: 100%;
}
.main-wrapper {
    height: 100%;
}

.content-container{
    background: url('../app/assets/img/body-content-bg.jpg') 60% 0 repeat-y;
    height: 100%;
}

/* Navigation Bar */
.navbar {
    display: block;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-radius: 0%;
    background-color: #251d18;
    box-shadow: 0 0 12px rgba(0,0,0,.4);
    border: 0;
}
.navbar-header{
    color: #fff;
    margin: 0;
    float: left;
    position: relative;
    height: 35px;            
    margin-top: 15px;
}
.navbar-title {
    color: #fff;
    font-weight: 700;
    float: left;
    font-size: 18px;
    line-height: 20px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.navbar-title:hover{
    color: #3d312d;
}
.navbar-content{
    margin: 7.5px;
    padding-left: 0;        
}
.navbar-right{
    position: relative;
    float: right!important;
    /* margin-right: -15px; */
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}
.btn-social-icon :first-child {
    border: none;
    text-align: center;
    width: 100% !important;
}
.btn-social-icon>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0,0,0,0.2);
}
.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}
.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

.introduction {
    padding: 30px;
    padding-bottom: 0px;
}

/* Form Select */
.hearthpack-form{
    display: block;
    position: relative;
    min-height: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 0%;
    text-align: center;
    /* background-color: #251d18; */
    border: 0;
}
.select-box {
    display: inline-block;
    margin-right: 5px;
}
.dropdown-item .select-background {
    float: right;
    height: 10px;
}
.opaque-label {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .2)
}
.submit-button {
    display: inline-block;
    height: 10px;
    position: relative;
}

/* Pack Sim */
.packsim-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding: 10px;
    overflow: auto;
}
.packsim-wrapper {
    background: url('../app/assets/img/packsim-bg.png');
    border-radius: 10px;
    display: block;
    overflow: hidden;
}
.pack-topper {
    padding-left: 15px;
    color: #fff;
    font-size: 20px;
    line-height: 52px;
    border-radius: 10px 10px 0 0;
    background: rgba(0,0,0,0.35);
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
}
.pack-wrapper {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
}
.pack-results {
    display: flex;
    padding: 30px 15px;
    list-style: none;
    list-style-image: none;
    margin: 0;
}
ul.pack-results li.card-slot:not(:last-child) {
    margin-right: 10px;
}
li.card-slot {
    flex-grow: 1;
    position: relative;
    width: 120px;
    height: 185px;
    float: left;
    cursor: pointer;
}

#footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f;
}
#footerwrap p {
    color: #f2f2f2;
    margin-left: 10px;
}

/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
}
.container:after{
    clear: both;
    content: "";
    display: block;
}  */

/* Media Queries */
@media (min-width: 768px){
    li.card-slot{
        width: 120px;
        height: 185px;
    }
}
@media (min-width: 992px){
    li.card-slot{
        width: 170px;
        height: 240px;
    }
}
@media (min-width: 1200px){
    li.card-slot{
        width: 170px;
        height: 240px;
    }
}

